html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family:'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
img {
    vertical-align: bottom; /* solution for space under image */
}
button {
    padding: 0 5px;
}
.task-textarea {
    resize: none;
    display: block; /* solution for space under textarea */
    /* vertical-align: top; /* solution for space under textarea */
    width: 100%;
    border: none;
    background-color: silver;
    box-sizing: border-box;
    overflow-y: hidden; /* hide scrollbar */
}
.task-compact-textarea {
    resize: none;
    flex: 1; /*take all the available space*/
    margin-right: 5px;
    /* display: block; /* solution for space under textarea */
    /* vertical-align: top; /* solution for space under textarea */
    /* width: 100%; */
    border: none;
    background-color: silver;
    box-sizing: border-box;
    overflow-y: hidden; /* hide scrollbar */
}
.task-top-row-input {
    border: none;
    vertical-align: top;
}
.task-top-row-span {
    vertical-align: top;
    display: inline-block;
    padding: 2px 5px;
    background-color: gainsboro;
    margin-bottom: 5px;
}
.task-top-row-button {
    margin-bottom: 5px;
}
.top-menu-button {
    border: none;
    padding: 2px;
    /* margin-bottom: 5px; */
}
.task {
    display: inline-block;
    vertical-align: top; /* solution for space under inline-block */
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background-color: silver;
    box-sizing: border-box;
}
.task-compact {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    background-color: silver;
}
.top-menu {
    display: inline-block;
    vertical-align: top; /* solution for space under inline-block */
    width: 100%;
    padding: 5px;
    background-color: silver;
    box-sizing: border-box;
}
.tasks-vue-app {
    min-height: 100%;
    padding: 0 10px;
    background-color: gray;
    box-sizing: border-box;
}